<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<h1>{{ post.title|Censor }}</h1>
<h6>{{ post.text_article|Censor }}</h6>
<hr>
{% for cat in post.post_category.all %}
    <h6>{{  cat.category_name }}</h6>
{% endfor %}
<h6>{{ post.date_create_post| date:'d M Y' }} , {{ post.date_create_post| time }}</h6>
<hr>
<a href="{% url 'post_edit' post.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
<a href="{% url 'post_delet' post.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->

{% endblock content %}